@model Demo.Models.Sale

@{
    ViewBag.Title = "DeleteSale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteSale</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Sale</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Medicine_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Medicine_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date_Sold)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date_Sold)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Sales")
    </p>
}
