@model Warehouse1.Models.warehousemedicine

@{
    ViewBag.Title = "DeleteMed";
}

<h2>DeleteMed</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>warehousemedicine</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Expired_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Expired_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChemicalForm)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChemicalForm)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Warehouse_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Warehouse_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Medicines")
    </p>
}
